*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;

}

.textbox{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 400px;
}

.textbox #myInput{
    height: 50px;
    width: 300px;
    font-size: 50px;
}


.textbox #button{
    font-size: 45px;
    margin: 15px;
}

p{
    text-align: center;
    font-size: 35px;
    color: black;
}

@media (max-width: 600px){
    .textbox{
        margin-top: 250px;
    }   
}
